.endingAnimations {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .emojiContainer {
        position: absolute;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        top: calc(50%);
        left: calc(50% - 50px);
    }
}
