.calendar {
    width: calc(100vw - 30px);
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    top: 25px;
    left: 15px;
    z-index: 1;
    a {
        color: whitesmoke;
    }
}

.instruction {
    background-color: rgb(44, 172, 12);
    padding: 10px 0;
    border-radius: 5px;
    width: calc(100vw - 30px);
    margin: 2px;
    cursor: default;
    h3 {
        text-align: center;
        color: rgb(39, 39, 39);
    }
}

.calendarNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: calc(100vw - 30px);
    text-align: center;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(44, 44, 44);
    cursor: default;
    h3 {
        background-color: rgb(44, 44, 44);
        flex: 1 0 0;
    }
    .fas {
        cursor: pointer;
    }
}

.calendarDisplay {
    width: calc(100vw - 30px);
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    display: grid;
    grid-template-columns: repeat(7, calc(100%/7));
    background-color: #3a3a3a;
    color: whitesmoke;
    h3 {
        text-align: center;
        padding-bottom: 10px;
        background-color: #3a3a3a;
        
    }
    ul {
        margin: 0;
        padding: 0;
        width: calc(100vw - 50px);
        display: grid;
        grid-template-columns: repeat(7, calc(100%/7));
        grid-template-rows: repeat(6, 30px);
        text-align: center;
        li {
            align-content: center;
            justify-content: center;
            display: grid;
            grid-template-columns: repeat(2, 12px);
            cursor: pointer;
            &:nth-child(n) {
                border: 1px solid #3a3a3a;
            }
            .chosenDate {
                color: rgb(44, 172, 12);
            }
        }
    }
}

.timeSelection {
    display: flex;
    align-items: center;
    transform: translateY(-200px);
    h3 {
        display: block;
        font-size: 4rem;
        color: whitesmoke;
        background-color: #3a3a3a;
    }
    .meridiem {
        width: 80px;
    }
}

#hourInput, #minuteInput {
    font-size: 5rem;
    text-align: center;
    width: 90px;
    height: 90px;
}

#minuteInput {
    margin-right: 10px;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: whitesmoke;
    transform: translateY(-170px);
    h3 {
        font-size: 3rem;
        text-transform: uppercase;
        color: grey;
    } 
}

.activated {
    background-color: #EF767A; 
    h3 {
        color: whitesmoke;
    }
}