header {
    padding: 0 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    a {
        text-decoration: none;
    }
    .fa-cogs {
        margin-top: 20px;
        color: #EF767A;
        cursor: pointer;
    }
}