@media (max-height: 568px) {
    main {
        display: grid;
        justify-content: center;
        align-content: space-around;
        grid-template-areas:
        'form form'
        'calendarIcon button';
    }
    form, 
    .display {
        grid-area: form;
    }
    .calendarIcon {
        margin: 0 auto;
        grid-area: calendarIcon;
    }
    .button {
        margin: 0 auto;
        grid-area: button;
    }
    .calendar {
        left: 25vw;
    }
    .calendar, 
    .instruction,
    .calendarNav{
        width: 50vw;
    }
    .calendarDisplay {
        width: 50vw;
        ul {
            width: calc(50vw - 20px);
        }
    }
    .display {
        width: 70vw;
    }
}

@media (max-height: 450px) {
    h3, label {
        font-size: 16px;
    }
    header .fa-cogs {
        margin-top: 15px;
    }
    main {
        justify-content: space-evenly;
        align-content: space-evenly;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        'form calendarIcon'
        'form button';
    }
    form {
        width: 70vw;
        grid-template-columns: 15vw 1fr 15vw 1fr;
    }
    .button {
        width: 80px;
        height: 80px;
    }
    .calendar {
        top: calc((100vh - 275px) / 2);
    }
    .instruction {
        position: absolute;
        top: 107px;
        left: -170px;
        transform: rotate(270deg);
        width: 270px;
    }
    .display span {
        font-size: 80px;
    }
}