@media (max-height: 567px) {
    main {
        display: grid;
        justify-content: center;
        align-content: space-around;
        grid-template-areas:
        'form form'
        'calendarIcon button';
    }
    form, 
    .display {
        grid-area: form;
    }
    .calendarIcon {
        margin: 0 auto;
        grid-area: calendarIcon;
    }
    .button {
        margin: 0 auto;
        grid-area: button;
    }
    .calendar {
        left: 25vw;
    }
    .calendar, 
    .instruction,
    .calendarNav{
        width: 50vw;
    }
    .calendarDisplay {
        width: 50vw;
        ul {
            width: calc(50vw - 20px);
        }
    }
    .display {
        width: 70vw;
    }
}

@media (max-height: 450px) {
    h3, label, input {
        font-size: 20px;
    }
    header {
        justify-content: center;
        .fa-cogs {
            margin-top: 15px;
        }
        .fa-cogs:before {
            font-size: 4rem;
        }
    }
    main {
        justify-content: space-evenly;
        align-content: space-evenly;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        'form calendarIcon'
        'form button';
    }
    form {
        width: 70vw;
        grid-template-columns: 15vw 1fr 15vw 1fr;
    }
    .button {
        width: 100px;
        height: 100px;
    }
    .calendar {
        top: calc((100vh - 275px) / 2);
        display: grid;
        grid-template-areas:
        'instruction nav'
        'instruction calendar';
        left: 25px;
    }
    .instruction {
        grid-area: instruction;

        position: relative;
        h3 {
            position: absolute;
            top: 41%;
            left: -100%;
            width: 282px;
            transform: rotate(270deg);
        }
        height: 282px;
        width: 100px;
    }
    .calendarNav {
        grid-area: nav;
    }
    .calendarDisplay {
        grid-area: calendar;
    }
    .display span {
        font-size: 80px;
    }
    .hidden {
        display: none;
    }
}

@media (max-height: 300px) {
    .calendarIcon {
        height: 85px;
        width: 85px;
    }
}