main {
    flex: 1 0 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5vh;
}

form {
    display: grid;
    justify-content: center;
    grid-template-columns: 50vw auto;
    gap: 25px;
    font-size: 20px;
}

.display {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: calc(100vw - 50px);
    .year {
        height: 80px;
        width: 100%;
    }
    span {
        flex: 0 0 25vw;
        text-align: center;
        font-size: 700%;
    }
}



.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 25vw;
    background-color: rgb(44, 172, 12);
    border-radius: 50%;
    position: absolute;
    bottom: 30vw;
    h3 {
        text-transform: uppercase;
        color: whitesmoke;
    }
}

.hidden {
    display: none;
}