@media (min-width: 768px) and (min-height: 450px) {
    h3, label, input {
        font-size: 3rem;
    }
    body {
        min-height: 700px;
    }
    header {
        justify-content: center;
        align-items: center;
        height: 100px;
        h1 {
            font-size: 7rem;
        }
        .fa-cogs:before {
            font-size: 5.5rem;
        }
    }
    main {
        display: grid;
        justify-content: center;
        align-content: space-evenly;
        grid-template-areas:
        'form form'
        'calendarIcon button';
    }
    form {
        column-gap: 25px;
    }
    .display {
        width: 542px;
    }
    form, 
    .display {
        height: 300px;
        width: 642px;
        grid-area: form;
    }
    .calendarIcon {
        margin: 0 auto;
        grid-area: calendarIcon;
        width: 180px;
        height: 180px;
        display: flex;
        flex-flow: column nowrap;
        h3:nth-child(1) {
            display: inline;
        }
        h3:nth-child(3) { 
            display: none; 
        }
        h3:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 0 0;
            background-color: #EF767A;
            font-size: 10rem;
            color: whitesmoke;
        }
        div {
            display: none;
        }
    }
    .button {
        margin: 0 auto;
        grid-area: button;
        width: 200px;
        height: 200px;
    }
    footer {
        font-size: 3rem;
    }
    .calendar {
        top: 10vh;
        left: 25vw;
    }
    .calendar, 
    .instruction,
    .calendarNav{
        width: 50vw;
    }
    .calendarDisplay {
        width: 50vw;
        ul {
            width: calc(50vw - 20px);
        }
    }
    .calendarDisplay {
        h3 {
            font-weight: 400;
        }
        ul li {
            grid-template-columns: repeat(2, 15px);
            span {
                font-size: 2rem;
                color: whitesmoke;
            }
        }
    }
}