html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, a, p {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*:before {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

form {
  font-family: 'Goldman', cursive;
  font-size: 2rem;
}

.display span {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 10rem;
}

h1 {
  font-family: 'Goldman', cursive;
  font-size: 4.9rem;
  color: #272727;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-family: 'Goldman', cursive;
  font-size: 2rem;
  font-weight: 700;
}

.fa-cogs:before {
  font-size: 3rem;
}

.fa-calendar-alt:before {
  font-size: 5rem;
}

footer {
  font-family: 'Goldman', cursive;
  font-size: 1.8rem;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

header {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a {
  text-decoration: none;
}

header .fa-cogs {
  margin-top: 25px;
  color: #EF767A;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

form {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 50vw calc(50vw - 60px);
      grid-template-columns: 50vw calc(50vw - 60px);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 25px;
}

form input {
  border: none;
  border-bottom: 2px solid;
}

.calendar {
  width: 70px;
  height: 70px;
  border: 5px solid #EF767A;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 30px;
      grid-template-columns: 30px 30px;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar h3 {
  text-align: center;
}

.calendar div {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #EF767A;
}

.display {
  text-align: center;
  width: calc(100vw - 50px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc((100vw - 50px)/8))[8];
      grid-template-columns: repeat(8, calc((100vw - 50px)/8));
      grid-template-areas: 'year1 year2 year3     yearColon day1    day2        day3     dayColon' 'hour1 hour2 hourColon minute1   minute2 minuteColon second1  second2';
}

.display #year1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: year1;
}

.display #year2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: year2;
}

.display #year3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: year3;
}

.display #yearColon {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: yearColon;
}

.display #day1 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: day1;
}

.display #day2 {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: day2;
}

.display #day3 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: day3;
}

.display #dayColon {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  grid-area: dayColon;
}

.display #hour1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hour1;
}

.display #hour2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: hour2;
}

.display #hourColon {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: hourColon;
}

.display #minute1 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: minute1;
}

.display #minute2 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: minute2;
}

.display #minuteColon {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: minuteColon;
}

.display #second1 {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  grid-area: second1;
}

.display #second2 {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
  grid-area: second2;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  background-color: #2cac0c;
  border-radius: 50%;
}

.button h3 {
  text-transform: uppercase;
  color: whitesmoke;
}

.cancel {
  background-color: crimson;
}

.hidden {
  display: none;
}

.endingAnimations {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.endingAnimations .emojiContainer {
  position: absolute;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  top: calc(50%);
  left: calc(50% - 50px);
}

footer {
  position: relative;
  padding: 10px;
  background-color: #272727;
}

footer p {
  color: #e7e7e7;
  text-align: center;
}
